{include file="header"}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 属性管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
					<input type="text" placeholder="属性名称" value="" class="input-text" style="width:120px" id="name">
					<input type="" hidden="" id="__token__" name="__token__" value="{$Request.token}" />
					<input type=""  id="attrc_id" hidden="" name="" value="{$attrc_id}">
					<!-- <select name="" id="attr_category_id">
						<option value="">属性分类</option>
					</select> -->
					<!-- 分类：<input type="" id="category_id"> -->
					<button type="button" class="btn btn-success" id="add" name=""><i class="Hui-iconfont">&#xe600;</i> 添加</button>
					<span id="demo"></span>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20" id="delall"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="70">ID</th>
							<th width="120">属性名称</th>
							<th width="120">属性分类</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<!-- <div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content radius">
				<div class="modal-header">
						<h3 class="modal-title">修改</h3>
						<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
					</div>
				<div class="modal-body" style="text-align: center;">
					<input type="" value="" id="up_id" hidden="">
					<br>
					权限:<input type="" value="" id="up_name">
					<br>
					描述:<input type="" value="" id="up_description">
					<br>
					路径:<input type="" value="" id="up_path">
					<br>
					分类:<select name="" id="up_category_id">
							<option value="">分类</option>
						</select>
					<br>
					
					<span id="up_demo">&nbsp</span>
				</div>
			<div class="modal-footer">
				<button class="btn btn-primary" onclick="up_action()">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div> -->

{include file="footer"}
<script>
		function getToken() {
		$.ajax({
			url:"{:url('common/commonToken')}",
			dataType:'json',
			success:function(res){
				$('#__token__').val(res.token);
			}
		})
	}

	$(document).ready(function(){
		  $("#add").click(function(){
		  	var name=$("#name").val()
		  	var attrc_id=$("#attrc_id").val()
		  	// var attr_category_id=$("#attr_category_id").val()
		  	$.ajax({
		  		url:'{:url("attribute/addaction")}',
		  		data:{
		  			name:name,
		  			attrc_id:attrc_id
		  			// attr_category_id:attr_category_id,
		  		},
		  		dataType:'json',
		  		type:'post',
		  		success:function(res){
		  			// console.log(res)
		  			if (res.status=='ok') {
		  				$("#demo").html("添加成功");
		  				$("#demo").css("color","green");
		  				$("#name").val('');
		  				setTimeout(function(){
		  					$("#demo").html("");
		  				},2000);		

		  				show()
		  			}
		  			if (res.status=='error') {
		  				$("#demo").html(res.data);
		  				$("#demo").css("color","red");
		  				setTimeout(function(){
		  					$("#demo").html("");
		  				},2000);		

		  				show()
		  			}
		  		}
		  	})
		})		  	
	});

	// function attr_category(){
	// 	$.ajax({
	// 		url:'{:url("attribute/show1")}',
	// 		dataType:'json',
	// 		success:function(res){
	// 			// console.log(res)
	// 			var data=res.data
	// 			var attr_category_option=''
	// 			for (var i = 0; i < data.length; i++) {
	// 				attr_category_option=attr_category_option+"<option value='"+data[i].id+"'>"+data[i].name+"</option>"
	// 			}
	// 			$('#attr_category_id').html(attr_category_option)
	// 		}
	// 	})
	// }
	// attr_category()
	
	function show(){
		var attrc_id=$("#attrc_id").val()
		$.ajax({
			url:'{:url("attribute/show")}',
			data:{
				attrc_id:attrc_id
			},
			type:'post',
			dataType:'json',
			success:function(res){
				// console.log(res)
				var data=res.data
				// console.log(data)
				var tr=''
				for (var i = 0; i < data.length; i++) {
					tr=tr+"<tr class='text-c'><td><input name='id[]' type='checkbox' value='"+data[i].a_id+"'></td><td>"+data[i].a_id+"</td><td><a href='{:url('attrdetails/list')}?attr_id="+data[i].a_id+"'>"+data[i].a_name+"</a></td><td>"+data[i].ac_name+"</td><td class='f-14 product-brand-manage'><a style='text-decoration:none' title='编辑' onclick='modaldemo("+data[i].a_id+")'><i class='Hui-iconfont'>&#xe6df;</i></a><a style='text-decoration:none' class='ml-5' title='删除' onclick='dele("+data[i].a_id+")'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>"
					
				}
				$(".table tbody").html(tr)
			}
		})
	}
	show()

	function dele(id){
		$.ajax({
			url:'{:url("attribute/delete")}',
			data:{
				id:id
			},
			type:'post',
			dataType:'json',
			success:function(res){
				if (res.status=='ok') {
					alert('删除成功');
					show()
				}
			}
		})
	}
</script>

</body>
</html> 